<!-- Latest Projects -->
<div class="clearfix">
    <div class="clients">
        <div class="grid_12 mobile-nomargin">
            <h3>Últimos proyectos</h3>
            <div class="list-carousel carousel__projects">
                <ul id="projects-scroller">
                    {% for project in projects %}
                    <li>
                        <div class="item-inner">
                            <figure class="img-holder">
                                <img src="{{ project.thumb.url }}" height="208" width="200" alt="" />
                                <div class="overlay">
                                    <a href="#" class="dlink">
                                        <i class="icon-link"></i>
                                    </a>
                                    <a href="{{ project.image.url }}" class="popup-link zoom">
                                        <i class="icon-zoom-in"></i>
                                    </a>
                                </div>
                            </figure>
                            <h5 class="title">
                                <a href="#">
                                    {{ project.name }}
                                </a>
                            </h5>
                            <span class="cats">
                                <a href="#">{{ project.shortDescription }}</a>
                            </span>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
                {% if projects|length > 4 %}
                <div class="carousel-nav">
                    <a id="prev2" class="prev" href="#"><i class="icon-chevron-left"></i></a>
                    <a id="next2" class="next" href="#"><i class="icon-chevron-right"></i></a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<!-- Latest Projects / End -->